.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.fragment{
    display: flex;
    max-height: 100px;
    width: 100%;
    position: absolute;
    background: linear-gradient(268.85deg, #9D7D3B 28.99%, #876726 69.74%);
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    margin: 0 3rem;
    width: 160px;
    height: 200px;
    background-color: #072733;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 50% 95%, 0% 100%);
    margin-top: 47px;
    align-items: center;
    justify-content: center;
}

.logo_img{
    width: 110px;
}

.navigation{
    margin-right: 160px;
    color: black;
    display: flex;
    gap: 8.5rem;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    z-index: 10000;
}

.nav_item{
    cursor: pointer;
    color: white;
}
