.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.fragment{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, white, transparent),
    url(../../assets/Assets_bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    padding: 0 3rem;
}

.icon{
    width: min(90%, 60px);
}

.title{
    padding: 3rem 0;
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
}

.diamond{
    position: relative;
    aspect-ratio: auto 1 / 1;
    width: min(90%, 260px);
    background: rgba(7, 39, 51, 0.8);
    transform: rotate(45deg);
    opacity: 0.9;
    border-radius: 25px;
}

.diamond_text{
    display: flex;
    flex-direction: column;
    transform: rotate(-45deg);
    justify-content: center;
    height: 100%;
    width: 70%;
    align-items: center;
    font-weight: 800;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
}

.bottom_diamond_text{
    display: flex;
    flex-direction: column;
    transform: rotate(135deg);
    justify-content: center;
    height: 100%;
    align-items: center;
    font-weight: 800;
    font-size: 20px;
    width: 80%;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
}

.bottom_diamond_sub_title{
    font-weight: 500;
    font-size: 18px;
}

.diamond_yellow{
    position: relative;
    aspect-ratio: auto 1 / 1;
    width: min(90%, 260px);
    background: rgba(135, 103, 38, 0.8);
    transform: rotate(225deg);
    opacity: 0.9;
    border-radius: 25px;
}

.diamond_item{
    position: absolute;
    transform: rotate(-45deg);
    background: rgba(255, 255, 255, 0.5);
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.1);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: -60px;
    margin-left: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.diamond_item_body{
    width: 100px;
    height: 100px;
    background: #876726;
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom_diamond_item_body{
    width: 100px;
    height: 100px;
    background: #072733;
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items{
    width: 100%;
    display: flex;
    margin-top: 10%;
    justify-content: center;
    gap: 10rem;
    margin-right: 150px;
}

.bottom_items{
    margin-top: -5%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10rem;
    margin-right: 150px;
}

.bottom_diamond_item{
    position: absolute;
    transform: rotate(135deg);
    background: rgba(255, 255, 255, 0.5);
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.1);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: -60px;
    margin-left: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-height: 900px) {
  .fragment {
    height: 1000px;
  }
}
