.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 3rem;
}

.fragment{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, white, transparent),
    url(../../assets/Intro_bg.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    padding-top: 300px;
    padding-bottom: 200px;
}

.title{
    color: #072733;
    font-weight: 800;
    font-size: 45px;
    line-height: 65px;
    text-align: center;
    padding: 0 3rem;
}

.buttons{
    display: flex;
    padding: 3rem;
    justify-content: center;
    gap: 5.0rem;
}

.title_span{
    color: #876726;
}

.button{
    border: none;
    color: white;
    font-weight: 600;
    width: 250px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    background: linear-gradient(267.64deg, #876726 12.92%, #9D7D3B 52.75%, #876726 86.69%);
    border-radius: 25px;
    cursor: pointer;
}

.introduction{
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #072733;
    padding: 3rem;
}

.introduction_title{
    font-weight: 800;
    font-size: 38px;
    line-height: 60px;
    width: 500px;
    text-align: right;
    color: #9D7D3B;
}

.introduction_underTitle{
    font-weight: 400;
    width: 640px;
    font-size: 26px;
    line-height: 44px;
    color: #FFFFFF;
}

.divider{
    width: 115px;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    transform: rotate(90deg);
}

@media screen and (max-width: 1180px) {
    .title{
        font-size: 40px;
        line-height: 50px;
    }
    .introduction_title{
        font-size: 30px;
        line-height: 44px;
    }
    .introduction_underTitle{
        font-size: 22px;
        line-height: 30px;
    }
}

@media screen and (max-width: 790px) {
    .introduction{
        flex-direction: column;
        gap: 2rem;
    }
    .divider{
        transform: none;
    }
    .title{
        font-size: 30px;
        line-height: 45px;
    }
    .introduction_title{
        width: auto;
        text-align: center;
        font-size: 24px;
        line-height: 30px;
    }
    .introduction_underTitle{
        width: auto;
        text-align: center;
        font-size: 18px;
        line-height: 22px;
    }
    .buttons{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
}

@media screen and (max-width: 414px) {
    .title{
        font-size: 20px;
        line-height: 32px;
    }
    .button{
        width: 200px;
        height: 36px;
        font-size: 12px;
    }
}

@media screen and (max-width: 380px) {
    .fragment {
        padding-top: 175px;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 360px) {
    .introduction{
        height: auto;
    }
    .title{
        font-size: 24px;
        line-height: 28px;
    }
    .introduction_title{
        font-size: 24px;
        line-height: 36px;
    }
    .introduction_underTitle{
        font-size: 18px;
        line-height: 26px;
    }
}