.picture{
    position: relative;
    display: flex;
    align-items: flex-end;
}

.image{
    width: 100% !important;
}

.title_bg{
    position: absolute;
    margin-top: 15px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 99%;
    height: 40px;
    background: rgba(7, 39, 51, 0.6);
    backdrop-filter: blur(10px);
}

.picture_title{
    font-weight: 300;
    font-size: 15px;
    line-height: 58px;
    text-transform: uppercase;
    color: #FFFFFF;
}